<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="EXAMPLEMANIPULATOR" class="com.cirrus10.endeca.manipulators.BaseManipulator"
		init-method="init" scope="singleton">
		<property name="recordHandlers">
			<list>
				<ref bean="consolidateProps" />

				<!-- The following creates the searchable properties. Refer to spreadsheet 
					DataModelDesign->Search for more info -->
				<ref bean="S10" />
				<ref bean="S20" />
				<ref bean="S30" />
				<ref bean="S40" />
				<ref bean="S50" />
				<ref bean="S60" />
				<ref bean="S70" />
				<ref bean="S80" />
				<ref bean="S90" />
				<ref bean="S100" />
				<ref bean="S_TA_10" />
				<ref bean="S_TA_20" />

			</list>
		</property>
	</bean>

	<!-- This will perform consolidation of different properties into a few 
		props aggregated together -->
	<bean name="consolidateProps" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.CreatePropBasedOnOtherProps">
		<property name="configurations">
			<list>
				<!-- if a record has is_free_shipping=1, create ShippingOptions=Free Shipping, and so on.. -->
				<bean class="com.cirrus10.endeca.config.CreatePropBasedOnOtherPropsConfig">
					<property name="propertyName" value="is_free_shipping" />
					<property name="propertyValue" value="1" />
					<property name="newPropertyToCreate" value="ShippingOptions" />
					<property name="newPropertyValueToCreate" value="Free Shipping" />
				</bean>
				<bean class="com.cirrus10.endeca.config.CreatePropBasedOnOtherPropsConfig">
					<property name="propertyName" value="quick_ship" />
					<property name="propertyValue" value="1" />
					<property name="newPropertyToCreate" value="ShippingOptions" />
					<property name="newPropertyValueToCreate" value="Quick Ship" />
				</bean>
				
				<bean class="com.cirrus10.endeca.config.CreatePropBasedOnOtherPropsConfig">
					<property name="propertyName" value="ships_to_CAN" />
					<property name="propertyValue" value="1" />
					<property name="newPropertyToCreate" value="ShippingOptions" />
					<property name="newPropertyValueToCreate" value="Ships to Canada" />
				</bean>

				<!-- if a record has is_on_sale=1, create Promotions=On Sale, and so on ..  -->
				<bean class="com.cirrus10.endeca.config.CreatePropBasedOnOtherPropsConfig">
					<property name="propertyName" value="is_on_sale" />
					<property name="propertyValue" value="1" />
					<property name="newPropertyToCreate" value="Promotions" />
					<property name="newPropertyValueToCreate" value="On Sale" />
				</bean>
				
				<bean class="com.cirrus10.endeca.config.CreatePropBasedOnOtherPropsConfig">
					<property name="propertyName" value="Warehouse_Sale" />
					<property name="propertyValue" value="1" />
					<property name="newPropertyToCreate" value="Promotions" />
					<property name="newPropertyValueToCreate" value="Warehouse Sale" />
				</bean>
				
						<!-- if a record has exclusive=1, create Special Offers=exclusive, and so on ..  -->
				<bean class="com.cirrus10.endeca.config.CreatePropBasedOnOtherPropsConfig">
					<property name="propertyName" value="exclusive" />
					<property name="propertyValue" value="1" />
					<property name="newPropertyToCreate" value="SpecialOffers" />
					<property name="newPropertyValueToCreate" value="Exclusive" />
				</bean>
				
				<bean class="com.cirrus10.endeca.config.CreatePropBasedOnOtherPropsConfig">
					<property name="propertyName" value="is_new" />
					<property name="propertyValue" value="1" />
					<property name="newPropertyToCreate" value="SpecialOffers" />
					<property name="newPropertyValueToCreate" value="New" />
				</bean>
				
				<bean class="com.cirrus10.endeca.config.CreatePropBasedOnOtherPropsConfig">
					<property name="propertyName" value="gift_wrap" />
					<property name="propertyValue" value="1" />
					<property name="newPropertyToCreate" value="SpecialOffers" />
					<property name="newPropertyValueToCreate" value="Gift wrap available" />
				</bean>	

			</list>
		</property>
	</bean>

	<bean name="S10" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S10</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>category_name</value>
			</list>
		</property>
	</bean>


	<bean name="S20" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S20</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S10</value>
				<value>brand_name</value>
			</list>
		</property>
	</bean>

	<bean name="S30" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S30</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S20</value>
				<value>lamp_type</value>
			</list>
		</property>
	</bean>

	<bean name="S40" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S40</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S30</value>
				<value>name</value>
			</list>
		</property>
	</bean>


	<bean name="S50" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S50</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S40</value>
				<value>options</value>
				<value>other_features</value>
				<value>seat_features</value>
				<value>lamp_type</value>
				<value>table_features</value>
				<value>color</value>				
			</list>
		</property>
	</bean>

	<bean name="S60" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S60</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S50</value>
				<value>designer_name</value>
				<value>collection_name</value>
			</list>
		</property>
	</bean>


	<bean name="S70" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S70</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S60</value>
			</list>
		</property>
	</bean>

	<bean name="S80" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S80</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S70</value>
				<value>model_nos</value>
			</list>
		</property>
	</bean>



	<bean name="S90" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S90</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S80</value>
				<value>sku</value>
			</list>
		</property>
	</bean>

	<bean name="S100" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S100</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S90</value>
				<!-- add everything else that is they want to be searchable here -->
				<value>keyword</value>
			</list>
		</property>
	</bean>

	<bean name="S_TA_10" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S_TA_10</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>name</value>
			</list>
		</property>
	</bean>

	<bean name="S_TA_20" scope="singleton"
		class="com.cirrus10.endeca.recordhandlers.ConcatenateProperties">

		<!-- The name of the new concatenated property -->
		<property name="propName">
			<value>S_TA_20</value>
		</property>

		<!-- The fields to concatenate -->
		<property name="fields">
			<list>
				<value>S_TA_10</value>
				<value>model_nos</value>
				<value>sku</value>
			</list>
		</property>
	</bean>



</beans>
				
